{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Log out{% endblock %}


{% block content %}
<div class="row justify-content-center mt-5">
  <div class="col-md-6 col-lg-5">
    <div class="card shadow-sm">
      <div class="card-body">
        <h2 class="card-title mb-4 text-center">Sign Out</h2>
        <p class="mb-4 text-center">Are you sure you want to sign out?</p>
        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          <div class="mb-3">
            {{ form|crispy }}
          </div>
          <button class="btn btn-danger w-100" type="submit">Sign Out</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
