{% extends "sales/products-list.html" %}
{% load static %}
{% block title %}Create Sale{% endblock title %}

{% block content %}
    {{ block.super }}
    <div id="order-summary">No items selected</div><br>
    <button type="button" onclick="createSale()">Record Sale</button>
{% endblock content %}

{% block javascript %}
  {{ block.super }}  {# This is a Django template comment #}
  <script>
    window.create = {createSaleUrl: "{% url 'create_sale' %}", csrfToken: "{{ csrf_token }}"};
  </script>
  <script src="{% static 'js/sales/sales.js' %}"></script>
{% endblock javascript %}

