{% extends "base.html" %}
{% load static %}
{% block content %}
<ul>

    {% for item in items %}
        <dialog id="{{ item.item_id }}">
            {% for item_variant in item.itemvariants.all %}
                    <p>{{ item_variant.sku }} ----- Php {{ item_variant.price }}</p>
                    <button type="button" onclick="decrementQuantity('{{ item_variant.pk }}')">-</button>
                    <input type="number" id="quantity-{{ item_variant.pk }}" name="quantity" 
                    data-name="{{ item_variant.sku }}" data-price="{{ item_variant.price }}" min="0" max="99" 
                    value="0" readonly>
                    <button type="button" onclick="incrementQuantity('{{ item_variant.pk }}')">+</button>
            {% endfor %}
            <br><br>
            <button type="button" onclick="collectSelectedItems('{{ item.item_id }}')">Proceed</button>
            <button type="button" onclick="document.getElementById('{{ item.item_id }}').close()">Cancel</button>
        </dialog>

        <li>{{ item.name }}</li>
        <button type="button" onclick="document.getElementById('{{ item.item_id }}').showModal()">Varieties</button>
    {% endfor %}
    </ul>
<p>Order Summary:</p>

{% endblock content %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'js/sales/products-list.js' %}"></script>
{% endblock javascript %}

