{% extends "base.html" %}
{% load static %}
{% block title %}View Sales{% endblock title %}

{% block content %}
<ul>
    {% for sale in sales %}
    <li>
        <dialog id="{{ sale.sale_id }}">
            <p>Recorded by: {{ sale.user.email }}</p>
            {% for item in sale.saleitems.all %}
            <ul>
                <li>{{ item.item_variant.sku }} - Php {{ item.item_variant.price }} x {{ item.quantity }}</li>
            </ul>
            {% endfor %}
            <p>Total: Php {{ sale.total_price }}<br>
            {{ sale.datetime }}</p>
            <button type="button" onclick="document.getElementById('{{ sale.sale_id }}').close()">Close</button>
        </dialog>

        {{ sale.datetime}} - Php {{ sale.total_price }}
        {% if request.user.is_staff %} (by {{ sale.user.email }}) {% endif %}
        <br>
        <button type="button" onclick="document.getElementById('{{ sale.sale_id }}').showModal()">Details</button>
        {% if request.user.is_staff %}
        <a href="{% url 'display_sale' sale.sale_id %}">Edit</a>
        <button onclick="deleteSale('{{ sale.sale_id }}')">Delete</button>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock content %}
{% block javascript %}
    {{ block.super }}
    <script>
        window.view = {
            deleteSaleUrl: "{% url 'delete_sale' 0 %}".slice(0, -2),
            csrfToken: "{{ csrf_token }}"
        };
    </script>
    <script src="{% static 'js/sales/sales.js' %}"></script>
{% endblock javascript %}
